<div *ngIf="!isServerRunning">
    Server is unavailable, check your connection
</div>

<div *ngIf="isServerRunning">
    <h1>Explore Current Eateries
        <mat-divider></mat-divider>
    </h1>
    <div class="eateries-container">
        <div class="eatery" *ngFor="let eatery of eateries">
            <mat-card>
                <mat-card-content>
                    <h3>{{ eatery.name }}</h3>
                    <h4 *ngIf="eatery.rating != 0" class="star-rating">{{ eatery.rating }} star rating</h4>
                    <p class="review" *ngFor="let review of eatery.reviews">Customer Review: {{ review.message }}</p>                 
                    <img src="../../assets/img/{{eatery.type}}_placeholder.jpg" />
                    <p *ngIf="eatery.type">{{ eatery.type }}</p>
                    <p *ngIf="eatery.address">Address: {{ eatery.address }}</p>
                    <p *ngIf="eatery.phoneNumber">Phone Number: {{ eatery.phoneNumber }}</p>
                    <p *ngIf="eatery.email">Email: {{ eatery.email }}</p>
            
                    <div class="businessDayTimes" *ngIf="eatery.businessDayTimes">
                        <p>Opening Hours:</p>
                        <table>
                            <tbody>
                                <tr class="businessDayTime" *ngFor="let businessDayTime of eatery.businessDayTimes">
                                    <td>{{ businessDayTime.day }}</td>
                                    <td>{{ businessDayTime.startTime }}-{{ businessDayTime.endTime }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            
                    <p></p>
                    <button class="standard-button" type="button" [disabled]="!customer" (click)="reserve(eatery.id)">
                        Make reservation
                    </button>
                    <p></p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>