  .eateries-container {
    display: inline-block;
    width: 100%;
  }

  .eatery {
    display: inline-block;
    margin-left: 70px;
    width: 385px;

    .mat-mdc-card {
      border-radius: 5px;
      border-color:lightgrey;
      border-width: 1px;
    }
  }
  
  h1 {
    font-weight: bold; 
    font-size: 25px;
    margin-left: 67px; 
    margin-top: 20px;
    color: #252525;
  }

  h3 {
    color: #252525;
    margin-top: 0;
  }

  p {
    font-size: 12px;
    font-weight: normal;
    color: gray
  }

  td {
    font-size: 12px;
    font-weight: bolder;
    color: gray;
    margin-left: 0;
  }

  .star-rating {
    display: flex;
    color: green;
  }