<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="login">
  <mat-tab-group>
    <mat-tab label="Login">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Your username" [(ngModel)]="username" name="username" required>
        <mat-error *ngIf="loginForm.submitted && !username">Username is required</mat-error>
      </mat-form-field>
    </mat-tab>

    <mat-tab label="Register">
      <div>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Your first name" [(ngModel)]="firstName" name="firstname">
          <mat-error *ngIf="!firstName || firstName == ''">First Name is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Your last name" [(ngModel)]="lastName" name="lastname">
          <mat-error *ngIf="!lastName || lastName == ''">Last Name is required</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Your phone number" [(ngModel)]="phoneNumber" name="phonenumber">
          <mat-error *ngIf="!phoneNumber || phoneNumber == ''">Phone Number is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Your email address" [(ngModel)]="email" name="email">
          <mat-error *ngIf="!email || email == ''">Email is required</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Payment method</mat-label>
          <mat-select [(ngModel)]="payment" name="payment">
            <mat-option value="CASH">CASH</mat-option>
            <mat-option value="CREDIT_CARD">CREDIT_CARD</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
