
.login {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column; 
  border-radius: 12px;
  padding: 20px;
  width: 100%; 
  max-width: 100%; 
  margin: 10px 0;
  margin-left: 50px; 
  overflow: hidden;
}

mat-form-field {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column; 
  border-radius: 12px;
  padding: 20px;
  width: 100%; 
  max-width: 100%; 
  margin: 10px 0;
  margin-left: 50px; 
  overflow: hidden;
}

mat-label {
  color: #252525;
  font-size: 12px;
  font-weight: bold;
}

/* Überschrift im Login-Formular */
h1 {
  text-align: center;
  color: #4CAF50;
}
