<mat-tab-group>
  <mat-tab label="Login">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Your username" [(ngModel)]="username" name="username" required>
      <mat-error *ngIf="!username || username == ''">Username is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Your password" type="password" [(ngModel)]="password" name="password" required>
      <mat-error *ngIf="!password || password == ''">Password is required</mat-error>
    </mat-form-field>

    <button class="standard-button" mat-raised-button color="primary" type="submit" (click)="onLogin()" data-testid="login-button">Login</button>

  </mat-tab>

  <mat-tab label="Register">
    <div>
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select [(ngModel)]="role" name="role" required>
            <mat-option value="CUSTOMER">CUSTOMER</mat-option>
            <mat-option value="MANAGER">MANAGER</mat-option>
        </mat-select>
        <mat-error *ngIf="!role">Role is required</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="role === 'MANAGER'">
        <mat-label>Job Title</mat-label>
        <input matInput placeholder="Your job title" [(ngModel)]="jobTitle" name="jobTitle" required>
        <mat-error *ngIf="!jobTitle || jobTitle == ''">Job title is required</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Your first name" [(ngModel)]="firstName" name="firstname" required>
        <mat-error *ngIf="!firstName || firstName == ''">First name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Your last name" [(ngModel)]="lastName" name="lastname" required>
        <mat-error *ngIf="!lastName || lastName == ''">Last name is required</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Your phone number" [(ngModel)]="phoneNumber" name="phonenumber" required>
        <mat-error *ngIf="!phoneNumber || phoneNumber == ''">Phone number is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Your username" [(ngModel)]="username" name="username" required>
        <mat-error *ngIf="!username || username == ''">Username is required</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Your password" [(ngModel)]="password" name="password" required>
        <mat-error *ngIf="!password || password == ''">Password is required</mat-error>
      </mat-form-field>
      <button class="standard-button" mat-raised-button color="primary" type="submit" (click)="onRegister()" data-testid="register-button">Register</button>
    </div>
  </mat-tab>
</mat-tab-group>
