<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="login">
  <mat-tab-group>
    <mat-tab label="Login">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Your username" [(ngModel)]="username" name="username" required>
        <mat-error *ngIf="loginForm.submitted && !username">Username is required</mat-error>
      </mat-form-field>
    </mat-tab>
    
    <mat-tab label="Register">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Your first name" [(ngModel)]="firstName" name="firstName" required>
        <mat-error *ngIf="loginForm.submitted && !firstName">First Name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Your last name" [(ngModel)]="lastName" name="lastName" required>
        <mat-error *ngIf="loginForm.submitted && !lastName">Last Name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Your phone number" [(ngModel)]="phoneNumber" name="phoneNumber" required>
        <mat-error *ngIf="loginForm.submitted && !phoneNumber">Phone Number is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Your email address" [(ngModel)]="email" name="email" required email>
        <mat-error *ngIf="loginForm.submitted && !email">Email is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Payment method</mat-label>
        <mat-select [(ngModel)]="payment" name="payment" required>
          <mat-option value="CASH">CASH</mat-option>
          <mat-option value="CREDIT_CARD">CREDIT_CARD</mat-option>
        </mat-select>
        <mat-error *ngIf="loginForm.submitted && !payment">Payment method is required</mat-error>
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>
  <button mat-raised-button color="primary" type="submit">Login</button>
</form>