<h1>Manager Profile</h1>

<div class="eatery-manager" *ngIf="managerViewModel">
    <h3>{{ managerViewModel.firstName }} {{ managerViewModel.lastName }}</h3>
    <p *ngIf="managerViewModel.username">Your username: {{ managerViewModel.username }}</p>
    <p *ngIf="managerViewModel.password">Your password: {{ managerViewModel.password }}</p>
    <p *ngIf="managerViewModel.jobTitle">Your job title: {{ managerViewModel.jobTitle }}</p>
    <div class="workSchedules" *ngIf="managerViewModel.workSchedules">
        <p>Your work schedules:</p>
        <table>
            <tbody>
                <tr class="workSchedule" *ngFor="let schedule of managerViewModel.workSchedules">
                    <td>{{ schedule.day }}</td>
                    <td>{{ schedule.startTime }}-{{ schedule.endTime }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="eateries-container">
        <div class="eatery-update" *ngIf="eateryViewModel">
            <h1>Your managed eatery</h1>
            <mat-card>
                <mat-card-content>
                    <h3>{{ eateryViewModel.name }}</h3>

                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="Address" [(ngModel)]="address" name="address" required>
                        <mat-error *ngIf="address == ''">Address is required</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Phone Number</mat-label>
                        <input matInput placeholder="Phone Number" [(ngModel)]="phonenumber" name="phonenumber" required>
                        <mat-error *ngIf="phonenumber == ''">Phone number is required</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
                        <mat-error *ngIf="email == ''">Email is required</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Type</mat-label>
                        <mat-select [(ngModel)]="type" name="type" required>
                            <mat-option value="RESTAURANT">RESTAURANT</mat-option>
                            <mat-option value="BAR">BAR</mat-option>
                            <mat-option value="CAFE">CAFE</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!type">Type is required</mat-error>
                    </mat-form-field>

                    <button class="standard-button" mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit update</button>
            
                    <div class="businessDayTimes" *ngIf="eateryViewModel.businessDayTimes">
                        <p>Opening Hours:</p>
                        <table>
                            <tbody>
                                <tr class="businessDayTime" *ngFor="let businessDayTime of eateryViewModel.businessDayTimes">
                                    <td>{{ businessDayTime.day }}</td>
                                    <td>{{ businessDayTime.startTime }}-{{ businessDayTime.endTime }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            
                    <p></p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="eatery-add" *ngIf="!eateryAdded">
            <h1>Add your eatery</h1>
            <mat-card>
                <mat-card-content>
                    <div>
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" [(ngModel)]="eateryName" name="eateryName" required>
                            <mat-error *ngIf="eateryName == ''">Eatery name is required</mat-error>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <input matInput placeholder="Address" [(ngModel)]="eateryAddress" name="eateryAddress" required>
                            <mat-error *ngIf="eateryAddress == ''">Address is required</mat-error>
                        </mat-form-field>
        
                        <mat-form-field>
                            <mat-label>Type</mat-label>
                            <mat-select [(ngModel)]="eateryType" name="eateryType" required>
                                <mat-option value="RESTAURANT">RESTAURANT</mat-option>
                                <mat-option value="BAR">BAR</mat-option>
                                <mat-option value="CAFE">CAFE</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!eateryType">Type is required</mat-error>
                        </mat-form-field>
                    </div>
    
                    <div>
                        <mat-form-field>
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="Phone Number" [(ngModel)]="eateryPhoneNumber" name="eateryPhoneNumber" required>
                            <mat-error *ngIf="eateryPhoneNumber == ''">Phone number is required</mat-error>
                        </mat-form-field>
        
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" [(ngModel)]="eateryEmail" name="eateryEmail" required>
                            <mat-error *ngIf="eateryEmail == ''">Email is required</mat-error>
                        </mat-form-field>
                    </div>
    
                    <div>
                        <mat-form-field>
                            <mat-label>Guest Capacity</mat-label>
                            <input matInput placeholder="Guest capacity" [(ngModel)]="guestCapacity" name="guestCapacity" required>
                            <mat-error *ngIf="guestCapacity == 0">Guest capacity is required</mat-error>
                        </mat-form-field>
        
                        <button class="standard-button" mat-raised-button color="primary" type="submit" (click)="onAdd()">Add eatery</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>