<h1>Manager Profile</h1>

<div class="eatery-manager" *ngIf="managerViewModel">
  <h3>{{ managerViewModel.firstName }} {{ managerViewModel.lastName }}</h3>
  <p *ngIf="managerViewModel.username">Your username: {{ managerViewModel.username }}</p>
  <p *ngIf="managerViewModel.password">Your password: {{ managerViewModel.password }}</p>
  <p *ngIf="managerViewModel.jobTitle">Your job title: {{ managerViewModel.jobTitle }}</p>
  <div class="workSchedules" *ngIf="managerViewModel.workSchedules">
    <p>Your work schedules:</p>
    <table>
        <tbody>
            <tr class="workSchedule" *ngFor="let schedule of managerViewModel.workSchedules">
                <td>{{ schedule.day }}</td>
                <td>{{ schedule.startTime }}-{{ schedule.endTime }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
