<h1>Your profile</h1>
<div class="customer" *ngIf="customerViewModel">
    <h3>{{ customerViewModel.firstName }} {{ customerViewModel.lastName }}</h3>
    <p *ngIf="customerViewModel.phoneNumber">Your phone number: {{ customerViewModel.phoneNumber }}</p>
    <p *ngIf="customerViewModel.email">Your email address: {{ customerViewModel.email }}</p>
    <p *ngIf="customerViewModel.payment">Your payment method: {{ customerViewModel.payment }}</p>
    <p *ngIf="customerViewModel.reservations && customerViewModel.reservations.length > 0">Your reservations:</p>
    <table>
        <tbody>
            <tr class="reservation" *ngFor="let reservation of customerViewModel.reservations">
                <td>{{ reservation.status }}</td>
                <td>at {{ reservation.eateryName }}</td>
                <td>on {{ reservation.reservationDateTime }}</td>
                <td>for {{ reservation.guestNumber }} persons</td>
                <td>
                    <button class="standard-button" *ngIf="reservation.status == 'CONFIRMED'" mat-raised-button color="primary" type="submit" (click)="updateReservation(reservation.id)">Update reservation</button>
                </td>
                <td>
                    <button class="standard-button" *ngIf="reservation.status == 'CONFIRMED'" mat-raised-button color="primary" type="submit" (click)="cancelReservation(reservation.id)">Cancel reservation</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

