<a routerLink="/" class="top-bar-link">
    <em class="material-icons">restaurants</em>
    <h1>Eatery WebApp</h1>
</a>

<div>
<a *ngIf="customer" class="button fancy-button" (click)="profile()">
    <em class="material-icons">person</em>
    {{customer.firstName}} {{customer.lastName}}
</a>

<a *ngIf="manager" class="button fancy-button" (click)="managerProfile()">
    <em class="material-icons">person</em>
    {{manager.firstName}} {{manager.lastName}}
</a>

<a *ngIf="!customer && !manager" routerLink="/login" class="button fancy-button">
    <em class="material-icons">login</em>
    Login
</a>
<a *ngIf="customer || manager" class="button fancy-button" (click)="logout()">
    <em class="material-icons">logout</em>
    Logout
</a>
</div>